*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #ffffff;
    margin: 0;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.profile-card {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-details {
    background-color: #fbead0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #8c6743;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8c6743;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff8438;
}

.error {
    color: red;
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
    .card {
        width: 90%;
    }
}